* {
    font-size: 0.85vw;
}

.container-fluid {
    width: 100%;
}

/* based off of http://thenewcode.com/744/Make-SVG-Responsive */
.svg-container {
    /*display: inline-block;*/
    position: relative;
    /*width: 90%;*/
    /*padding-bottom: 90%;*/
    vertical-align: middle;
    overflow: hidden;
    /*align-content: center;*/
    margin: auto;
    /*border: 1px solid gray;*/
}

.svg-content {
    display: inline-block;
    /*position: absolute;
    top: 0;
    left: 0;*/
}

svg {
    font-family: helvetica, sans-serif;
    background-color: white;
}

button#interpolation-mode {
    width: 100%;
    height: 100%;
    margin: auto;
}

path, line {
    stroke: #777;
}

.sensor {
    fill: red;
    opacity: 0.25;
}

.factory {
    fill: darkgray;
    stroke: darkgray;    
    color: darkgray;
    opacity: 0.75;
}

.factory:hover, .sensor:hover {
    opacity: 1;
}

.diffusion-mouseover {
    fill: none;
    stroke-width: 15px;
    stroke: transparent;
}

.diffusion-mouseover:hover {
    stroke: #555555;
    opacity: 0.1;
}

/*.Roadrunner-Fitness-Electronics{
    fill: #6B6BD2;
    stroke: #6B6BD2;
    color: #6B6BD2;
}

.Kasios-Office-Furniture{
    fill: #E8BB48;
    stroke: #E8BB48;    
    color: #E8BB48;
}

.Radiance-ColourTek{
    fill: #D86069;
    stroke: #D86069;    
    color: #D86069;
}

.Indigo-Sol-Boards{
    fill: #CF6ABE;
    stroke: #CF6ABE;    
    color: #CF6ABE;
}*/

.Appluimonia {
    fill: #ca0020;
    stroke: #ca0020;
    color: #ca0020;
}

.Chlorodinine {
    fill: #0571b0;
    stroke: #0571b0;
    color: #0571b0;
}

.Methylosmolene {
    fill: #B15928;
    stroke: #B15928;
    color: #B15928;
}

.AGOC-3A {
    fill: #e7298a;
    stroke: #e7298a;
    color: #e7298a;
}

.no-data {
    fill: darkgray;
    stroke: darkgray;
    color: darkgray;
}

.axis-mouseover {
    /*stroke: none;*/
    fill: gray;
    stroke-width: 10;
    opacity: 0.0;
}

.chemical:hover {
    opacity: 0.85;
}

.axis-mouseover:hover {
    opacity: 0.25;
}

.axis path,
.axis line {
    /*fill: black;*/
    stroke: 0.5vw black;
    shape-rendering: crispEdges;
}

/*.factory-label {
    font-family: sans-serif;
    font-size: 1vw;
}*/

.sensor-label-overlay {
    stroke: lightgray;
    fill: lightgray;
}

.sensor-label-mouseover {
    stroke: gray;
    fill: gray;
    stroke-width: 1px;
    opacity: 0.1;
}

.sensor-label-mouseover:hover,
.sensor-label-mouseover.error:hover {
    opacity: 0.75;
}

.sensor-label-mouseover.error {
    stroke: red;
    fill: red;
    opacity: 0.5
}

.axis text,
.axis-label,
.factory-label,
.sensor-label,
g.axis {
    font-family: sans-serif;
    font-size: 8px;
    /*fill: white;*/
}

div.tooltip#vis {
    position: absolute;
    text-align: left;
    padding: 2px;
    font-size: 1vw;
    background: #E5E5E5;
    border: 1px solid gray;
    border-radius: 8px;
    pointer-events: none;
}


.wind-glyph,line.wind-glyph {
    fill: gray;
    stroke: none;
    opacity: 0.75;
}

.wind-glyph.hide,
line.wind-glyph.hide {
    opacity: 0;
}

.chemical-streamline {
    fill: none;
}

.chemical-streamline-diffusion {
    fill: none;
    color: red;
}

.loading#loading-indicator {
    pointer-events: all;
}

#loading-indicator {
    width: 100%;
    height: 100%;
    /*background: gray;*/
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    cursor: wait;
}

.disabled {
    pointer-events: none;
    cursor: not-allowed;
    filter: brightness(75%);
}

p.control-label {
    display: inline-block;
}

.streamline-legend {
    fill: lightgray;
    stroke: black;
}

text.legend-title {
    font-size: x-small;
    text-anchor: middle;
    fill: black;
    stroke: black;
}

text.legend-label {
    font-size: xx-small;
    fill: black;
    stroke: black;
}

.tick-minor {
    opacity: 0.5;
}

.slider-background {
    fill: #EEEEEE;
}

.timestamp-indicator {
    stroke: blue;
}