.container {
    width: 100%;
}

/* based off of http://thenewcode.com/744/Make-SVG-Responsive */
.svg-container {
    display: inline-block;
    position: relative;
    width: 90%;
    padding-bottom: 90%;
    vertical-align: middle;
    overflow: hidden;
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid gray;
}

svg {
    font-family: helvetica, sans-serif;
}

path, line {
    stroke: #777;
}

.sensor {
    fill: red;
}

.factory {
    fill: green;
}

.point {
    fill: blue;
}

.current {
    /*fill: blue;*/
    stroke: none;
    /*stroke-width: 2;*/
    opacity: 0.25;
    pointer-events: none;
}

.kiviat-axis {
    stroke-width: 2px;
}

#Appluimonia-axis {
    stroke: #1b9e77;
}

#Chlorodinine-axis {
    stroke: #d95f02;
}

#Methylosmolene-axis {
    stroke: #7570b3;
}

#AGOC-3A-axis {
    stroke: #e7298a;
}

.axis-mouseover {
    /*stroke: none;*/
    stroke-width: 10;
    opacity: 0;
}

.axis-mouseover:hover {
    opacity: 0.5;
}

.axis path,
.axis line {
    fill: none;
    stroke: none;
    shape-rendering: crispEdges;
}

/*.factory-label {
    font-family: sans-serif;
    font-size: 1vw;
}*/

.axis text,
.axis-label,
.factory-label,
.sensor-label,
g.axis {
    font-family: sans-serif;
    font-size: 8px;
    /*fill: white;*/
}

div.tooltip {
    position: absolute;
    text-align: center;
    padding: 2px;
    font: 1vw sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}