.container-fluid {
    width: 100%;
}

/* based off of http://thenewcode.com/744/Make-SVG-Responsive */
.svg-container {
    display: inline-block;
    position: relative;
    width: 90%;
    padding-bottom: 90%;
    vertical-align: middle;
    overflow: hidden;
    /*align-content: center;*/
    margin: auto;
    /*border: 1px solid gray;*/
}

.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

svg {
    font-family: helvetica, sans-serif;
}

button#interpolation-mode {
    width: 100%;
    height: 100%;
    margin: auto;
}

path, line {
    stroke: #777;
}

.sensor {
    fill: red;
    opacity: 0.25;
}

.factory {
    opacity: 0.75;
}

.factory:hover, .sensor:hover {
    opacity: 1;
}

.Roadrunner-Fitness-Electronics{
    fill: #1b9e77;
    stroke: #1b9e77;
    color: #1b9e77;
}

.Kasios-Office-Furniture{
    fill: #d95f02;
    stroke: #d95f02;    
    color: #d95f02;
}

.Radiance-ColourTek{
    fill: #7570b3;
    stroke: #7570b3;    
    color: #7570b3;
}

.Indigo-Sol-Boards{
    fill: #f1b6da;
    stroke: #f1b6da;    
    color: #f1b6da;
}

.point {
    fill: blue;
}

.current {
    fill: blue;
    stroke: none;
    /*stroke-width: 2;*/
    /*opacity: 0.25;*/
    pointer-events: none;
}

.kiviat-axis {
    stroke-width: 2px;
}

.Appluimonia {
    fill: #ca0020;
    stroke: #ca0020;
    color: #ca0020;
}

.Chlorodinine {
    fill: #0571b0;
    stroke: #0571b0;
    color: #0571b0;
}

.Methylosmolene {
    fill: #a6611a;
    stroke: #a6611a;
    color: #a6611a;
}

.AGOC-3A {
    fill: #e7298a;
    stroke: #e7298a;
    color: #e7298a;
}

.no-data {
    fill: darkgray;
    stroke: darkgray;
    color: darkgray;
}

.axis-mouseover {
    /*stroke: none;*/
    stroke-width: 10;
    opacity: 0;
}

.chemical:hover {
    opacity: 0.85;
}

.axis-mouseover:hover {
    opacity: 0.25;
}

.axis path,
.axis line {
    /*fill: black;*/
    stroke: 0.5vw black;
    shape-rendering: crispEdges;
}

/*.factory-label {
    font-family: sans-serif;
    font-size: 1vw;
}*/

.sensor-label-overlay {
    stroke: lightgray;
    fill: lightgray;
}

.sensor-label-mouseover {
    stroke: gray;
    fill: gray;
    stroke-width: 1px;
    opacity: 0.1;
}

.sensor-label-mouseover:hover,
.sensor-label-mouseover.error:hover {
    opacity: 0.75;
}

.sensor-label-mouseover.error {
    stroke: red;
    fill: red;
    opacity: 0.5
}

.axis text,
.axis-label,
.factory-label,
.sensor-label,
g.axis {
    font-family: sans-serif;
    font-size: 8px;
    /*fill: white;*/
}

div.tooltip {
    position: absolute;
    text-align: left;
    padding: 2px;
    font: 1vw sans-serif bold;
    background: #E5E5E5;
    border: 1px solid gray;
    border-radius: 8px;
    pointer-events: none;
}

.wind-glyph,line.wind-glyph {
    fill: gray;
    stroke: none;
    opacity: 0.40;
}

.wind-glyph.hide,
line.wind-glyph.hide {
    opacity: 0;
}

.chemical-streamline {
    fill: none;
}

.chemical-streamline-diffusion {
    fill: none;
    color: red;
}

.loading {
    cursor: wait !important;
}